.navbar-container {
  width: 100%;
}

.navbar-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.navbar-settings {
  /* flex: 1; */
  display: inline-block;
  padding: 0.8rem 0;
  margin: 0 10px;
}

.navbar-settings a {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #222;
}

.navbar-settings a:hover {
  color: #222;
  background-color: #e4e4e4;
}

.active {
  color: #f2f2f2 !important;
  background-color: #1babc5 !important;
}

.active:hover {
  color: #f2f2f2 !important;
  background-color: #1babc5 !important;
  cursor: default;
}
